.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .social-media-button-container {
  zoom: 1;
  text-align: left;
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-twitter {
  color: #ffffff !important;
  background: #000000;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000000),color-stop(1,#000000));
  background: -ms-linear-gradient(bottom,#000000,#000000);
  background: -moz-linear-gradient(center bottom,#000000 0%,#000000 100%);
  background: -o-linear-gradient(#000000,#000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  border: 1px solid;
  border-color: #050505 #000000 #000000 #000000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-twitter:visited,
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-twitter:active,
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-twitter:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-twitter.ow-button-hover:hover {
  background: #050505;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#050505),color-stop(1,#050505));
  background: -ms-linear-gradient(bottom,#050505,#050505);
  background: -moz-linear-gradient(center bottom,#050505 0%,#050505 100%);
  background: -o-linear-gradient(#050505,#050505);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#050505', endColorstr='#050505', GradientType=0);
  border-color: #0a0a0a #050505 #000000 #050505;
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-facebook {
  color: #ffffff !important;
  background: #000000;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000000),color-stop(1,#000000));
  background: -ms-linear-gradient(bottom,#000000,#000000);
  background: -moz-linear-gradient(center bottom,#000000 0%,#000000 100%);
  background: -o-linear-gradient(#000000,#000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  border: 1px solid;
  border-color: #050505 #000000 #000000 #000000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-facebook:visited,
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-facebook:active,
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-facebook:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-facebook.ow-button-hover:hover {
  background: #050505;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#050505),color-stop(1,#050505));
  background: -ms-linear-gradient(bottom,#050505,#050505);
  background: -moz-linear-gradient(center bottom,#050505 0%,#050505 100%);
  background: -o-linear-gradient(#050505,#050505);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#050505', endColorstr='#050505', GradientType=0);
  border-color: #0a0a0a #050505 #000000 #050505;
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-google-plus {
  color: #ffffff !important;
  background: #000000;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000000),color-stop(1,#000000));
  background: -ms-linear-gradient(bottom,#000000,#000000);
  background: -moz-linear-gradient(center bottom,#000000 0%,#000000 100%);
  background: -o-linear-gradient(#000000,#000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  border: 1px solid;
  border-color: #050505 #000000 #000000 #000000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-google-plus:visited,
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-google-plus:active,
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-google-plus:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-google-plus.ow-button-hover:hover {
  background: #050505;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#050505),color-stop(1,#050505));
  background: -ms-linear-gradient(bottom,#050505,#050505);
  background: -moz-linear-gradient(center bottom,#050505 0%,#050505 100%);
  background: -o-linear-gradient(#050505,#050505);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#050505', endColorstr='#050505', GradientType=0);
  border-color: #0a0a0a #050505 #000000 #050505;
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-linkedin {
  color: #ffffff !important;
  background: #000000;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000000),color-stop(1,#000000));
  background: -ms-linear-gradient(bottom,#000000,#000000);
  background: -moz-linear-gradient(center bottom,#000000 0%,#000000 100%);
  background: -o-linear-gradient(#000000,#000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  border: 1px solid;
  border-color: #050505 #000000 #000000 #000000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-linkedin:visited,
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-linkedin:active,
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-linkedin:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button-linkedin.ow-button-hover:hover {
  background: #050505;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#050505),color-stop(1,#050505));
  background: -ms-linear-gradient(bottom,#050505,#050505);
  background: -moz-linear-gradient(center bottom,#050505 0%,#050505 100%);
  background: -o-linear-gradient(#050505,#050505);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#050505', endColorstr='#050505', GradientType=0);
  border-color: #0a0a0a #050505 #000000 #050505;
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button {
  font-size: 1em;
  padding: 0.5em 0.5em;
  margin: 0.1em 0.1em 0.1em 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
}
.so-widget-sow-social-media-buttons-atom-2c84d807f3f2 .sow-social-media-button .sow-icon-fontawesome {
  width: 1em;
  height: 1em;
  display: inline-block;
}